<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="cartStyle.css" />
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="titleBox">
          <h1 class="title">Retrievers Essentials</h1>
          <a class="logInLink" href="LogIn.html" v-if="!loggedIn">Log In</a>
          <a class="logOutLink" href="LogIn.html" v-if="loggedIn" @click="logOut">Log Out</a>
        </div>
        <div>
            
        </div>
      </div>
      <!-- <h1>{{ message }}</h1>
        <p>Welcome to the home page!</p>
        <a href="about.html">Go to About Page</a> -->
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            loggedIn: false,
          };
        },

        methods: {
          logOut(){
            loggedIn = false;
            localStorage.removeItem('loggedIn');
            window.location.href = "LogIn.html";
          }
        },

        mounted() {
          this.loggedIn = localStorage.getItem('loggedIn') === 'true';
          if(!this.loggedIn){
            window.location.href = "LogIn.html";
          }
        },
      }).mount("#app");
    </script>
  </body>
</html>