<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="credentialsStyle.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <h1 class="logInTitle"> Food Database </h1>
            <div class="logInBox">
                <h2 class="boxTitle">Log In</h2>
                <div class="logInInput">
                    <p class="logInText">Username</p>
                    <input class="inputBox" type="text" id="username" v-model="username"
                        placeholder="Enter your username">
                </div>
                <div class="logInInput">
                    <p class="logInText">Password</p>
                    <input class="inputBox" type="password" id="password" v-model="password"
                        placeholder="Enter your password">
                </div>

                <div class="logInButton">
                    <button class="button" @click="login">Log In</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    message: 'Hello from the Home Page!',
                    username: '',
                    password: '',
                };
            },

            methods: {
                login(){
                    window.location.href = 'homePage.html';
                }
            }

        }).mount('#app');
    </script>
</body>

</html>